// @import 'partials/mixins'

//Colors
$white: #FFF
$black: #000
$gray: #EEE
$green: #65BA99
$green-dark: #59A386
$tan: #F1DDBB
$tan-dark: #D6C4A6
$red: #E74C3C

//Elements
$border: $tan-dark

//Fonts
@include declare-font-face('QR_medium', '../fonts/QR_medium')
