@font-face {
  font-family: "QR_medium";
  src: url("QR_medium.eot");
  src: url("QR_medium.eot?#iefix");
  src: url("QR_medium.woff");
  src: url("QR_medium.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "QR_bold";
  src: url("QR_bold.eot");
  src: url("QR_bold.eot?#iefix");
  src: url("QR_bold.woff");
  src: url("QR_bold.ttf");
  font-weight: normal;
  font-style: normal; }
