@import 'partials/_mixins'
@import 'partials/_variables'
@import 'partials/_base'

body
	margin-top: 0
	background: $gray
	font-family: Alex

header
	//margin: 0
	padding: 10px 5px
	background: $tan
	border: 1px solid $border

	a.logo
		margin: 0 20px
		display: block
		font-family: QR_medium
		font-size: 30px
		color: $red
		text-decoration: none
		letter-spacing: -1px
		span
			text-transform: uppercase
			letter-spacing: 0

.scan
	margin: 0 0 50px
	padding: 20px 0
	background: url(../img/closet_banner.jpg)
	text-align: center

	img
		margin: 0 auto
		display: block
		width: 150px
		height: 150px
		@include border-radius(150px)
		border: 5px solid $white

	h1
		font-size: 50px
		font-weight: bold
		color: $white
		font-family: Nixie

		span
			display: block
			font-size: 20px
			font-weight: normal
section
	h2
		text-transform: capitalize

.result	
	margin: 0 0 20px
	background: $white
	overflow: hidden
	max-height: 260px

	h3
		margin: 0 0 150px
		padding: 10px 20px

		span
			display: block
			font-size: 15px
			font-weight: lighter
			font-family: helvetica

	.price
		padding: 0 20px 10px 0
		float: right
		position: relative
		text-align: right
		z-index: 9

		span
			display: block
			color: $red
			font-size: 18px

	img
		margin: 0 auto
		width: 100%
		position: relative
		top: -260px
		background-color: $white