@import 'partials/_mixins'
@import 'partials/_variables'
@import 'partials/_base'

body
	background: url('/img/bg.jpg')

header
	background: $tan
	border: 1px solid $border

	a.logo
		margin: 0 auto
		display: block
		font-family: QR_medium
		font-size: 30px
		color: $red
		span
			text-transform: uppercase

.columns
	background: $white

img
	display: block
	background: $black
	height: 100px
	width: 100px